// compress: true, sourceMap: true

@import 'pieces/vars.less';

html {
    font-size: 62.5%;
}
body {
    font-size: 1rem;
    font-family: @second-font;
}

body {
    background: @primary;

    &.no-scroll {
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

// Blocks

@import 'pieces/helpers.less';
@import 'blocks/container.less';
@import 'blocks/btn.less';
@import 'blocks/header.less';
@import 'blocks/nav.less';
@import 'blocks/social.less';
@import 'blocks/burger.less';
@import 'blocks/intro.less';
@import 'blocks/about.less';
@import 'blocks/portfolio.less';
@import 'blocks/contacts.less';
@import 'blocks/feedback.less';
@import 'blocks/requisites.less';
@import 'blocks/address.less';
@import 'blocks/form.less';
@import 'blocks/footer.less';
@import 'blocks/modals.less';
@import 'blocks/timeline.less';
@import 'blocks/progress-bar.less';
