// main: ../style.less

.intro {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &__text {
        font-family: 'EB Garamond', serif;
        text-align: center;
        padding: 4rem;
        margin: 2rem;
        border: 2px solid #fff;
        cursor: default;
        color: #fff;

        @media @medium {
            padding: 3rem;
        }

        @media @small {
            padding: 2rem;
        }
    }

    &__title {
        font-size: 8rem;
        font-weight: 600;
        letter-spacing: 2rem;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 1rem;

        @media @large {
            font-size: 6rem;
        }
        @media @medium {
            font-size: 4rem;
            letter-spacing: 1.6rem;
        }
        @media @small {
            font-size: 3.3rem;
            letter-spacing: 1.2rem;
        }
        @media @extra-small {
            font-size: 3rem;
            letter-spacing: 0.8rem;
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 0.5rem;

        @media @medium {
            font-size: 2.5rem;
        }
        @media @small {
            font-size: 2rem;
        }
        @media @extra-small {
            font-size: 1.5rem;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 100vh;
        max-width: 100vw;
        width: 100%;
        z-index: -1;
    }
}
