// main: ../style.less

.footer__creator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 1rem 0;

    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: @primary;
    letter-spacing: 0.1rem;

    background-color: @secondary;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media @extra-small {
        font-size: 1.5rem;
    }
}

.footer__author {
    color: @primary;
    border-bottom: 0.1rem solid @primary;

    &:hover {
        border-bottom: 0;
    }
}
