// main: ../style.less

.nav {
    @media @small {
        display: none;

        &--active {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            width: 100%;
            padding: 1.5rem 0;

            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            text-align: center;

            background: #dac1af;

            position: absolute;
            top: 0;
            left: 0;

            & .nav__link {
                padding: 1.5rem 0;
            }
        }
    }
}

.nav__link {
    margin-right: 2rem;

    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    color: @secondary;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;

    position: relative;

    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;

    &::after {
        content: '';
        display: block;

        width: 0;
        height: 0.1rem;

        background: @secondary;

        position: absolute;
        left: 0;
        bottom: -0.2rem;

        -webkit-transition: width 0.3s linear;
        -o-transition: width 0.3s linear;
        transition: width 0.3s linear;
    }

    &:hover {
        &::after {
            width: 97%;

            @media @small {
                display: none;
            }
        }
    }

    @media @small {
        margin-right: 0;
        font-size: 1.8rem;
        opacity: 1;
    }
}
